Fabric==1.4.0
Genshi==0.6
MarkupSafe==0.15
byteplay==0.2
decorator==3.3.2
distribute==0.6.24
fusil==1.4
ipython==0.12
jsonpickle==0.4.0
logilab-astng==0.23.1
logilab-common==0.57.1
nose==1.1.2
py==1.4.7
pyCLI==2.0.3
pycrypto==2.5
pylint==0.25.1
pyparsing==1.5.6
pystache==0.4.0
python-ptrace==0.6.4
readline==6.2.2
simplejson==2.4.0
ssh==1.7.13
