#!/usr/bin/env python
# -*- coding: utf-8 -*-
# run nosetests for directory 'tests': `nosetests -v -s -w tests`

import os
import sys
import time
import re
import pprint
import random
import unittest
from {{module_name}} import *
{{#all_imports}}
import {{module}}
{{/all_imports}}

class DevNull(object):
    def __init__(self, *writers):
        self.writers = writers
    def write(self, text):
       return
                
class TestProgram(unittest.TestCase):
    def setUp(self):
        # suppress program output
        sys.stdout = DevNull(sys.stdout)
        sys.stderr = DevNull(sys.stderr)
    def tearDown(self):
        #print "teardown"
        return

    def assertNotRaised(self, function, *args, **kwargs):
        with self.assertRaises(Exception):
            try:
                function(*args, **kwargs)
            except:
                pass
            else:
                raise Exception

{{#all_tests}}
    def test_{{fn_name}}_{{test_name}}(self{{add_params}}): {{stmts}}
{{/all_tests}}
if __name__ == '__main__':
    unittest.main()